
        .booking-container {
            margin-top: 50px;
        }
        .booking-header {
            margin-bottom: 20px;
        }
        .booking-card {
            margin-bottom: 20px;
        }
        .collapse-content {
            margin-top: 10px;
        }
