.parallax {
    /* The image used */
    background-image: url("../Bilder/backgroundLego.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar-custom {
    background-color: rgb(34, 74, 110);
  }


  .card {
    border: none;
    background-color: rgba(34, 74, 110, 0.9);
    margin-top: 40px;
    border-radius: 5px; 
  }