body {
  margin-left: 50px;
  margin-right: 50px;
  height: 100px;
  size: 100px;
  background-image: url("../Bilder/backgroundLego.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-custom {
  background-color: rgb(34, 74, 110);
}

.container {
  margin-top: 50px;
  
}

.card {
  border: none;
  background-color: rgba(34, 74, 110, 0.9);
  border-radius: 2rem;
  margin-top: 40px;
}
